<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Frender</h1>
    @* <p>@ViewBag.SpecificUser.FirstName</p> *@
    <span>Go to my profile: <a href="UserProfile/@ViewBag.SpecificUser.UserId">profile</a></span>
    @* random user *@
    <div>
      
    </div>
</body>
</html>